<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seg2105app.delieverable1.activities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".OpeningScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpScreenActivity" />
        <activity android:name=".HomeOwnerWelcome" />
        <activity android:name=".AdminWelcome"/>
        <activity android:name=".ServiceProviderWelcome"/>
        <activity android:name=".CreateServiceActivity" />
        <activity android:name=".ManageServiceActivity" />
        <activity android:name=".serviceEditorActivity" />

    </application>

</manifest>